<footer class="footer">
	<p>©2020 JC Pratt · <a href="mailto:jcpratt@orange.fr " style="color:white">jcpratt@orange.fr</a></p>
	<p><a href="{{website.url}}/copyright " style="color:white">Propriété Intellectuelle, Droit d'Auteur</a></p>
</footer>
<div class="back_to_top" onclick="window.scrollTo({ top: 0, left: 0, behavior: 'smooth'});"><span></span></div>