<footer class="footer">
    <p>©2020 JC Pratt · <a href="mailto:jcpratt@orange.fr " style="color:white">jcpratt@orange.fr</a></p>
    <p><a href="/copyright " style="color:white">Propriété intellectuelle, Droit d'auteur, droit à l'image et règles d'utilisation </a></p>
</footer>
<a  href="#header" class="back_to_top"><span></span></a>