<header class="header">
    <div class="logo"><a href="/"><h1>JC&nbsp;PRATT</h1></a></div>
    <nav class="nav_bar">
        <a href="/home"><span class="nav_item">WORK</span></a>
        <a href=""><span class="nav_item">BIO</span></a>
        <a href=""><span class="nav_item">VIDEO</span></a>
    </nav>
</header>