<header id="header" class="header">
    <a class="logo" href="{{website.url}}/">JC&nbsp;Pratt</a>
    <nav class="nav_bar">
        <a href="{{website.url}}/gallery"><span class="nav_item">Galleries</span></a>
        <a href="{{website.url}}/bio"><span class="nav_item">Artist&nbsp;Photographer</span></a>
        <a href=""><span class="nav_item">Movies</span></a>
    </nav>
</header>
<div class="header_sub_bar"></div>