
<!-- SEO tag -->
{%- if title %}
    <title>JC PRATT | {{ title }}</title>
{%- endif %}
{%- if description %}
    <meta name="description" content="{{ description}}" />
{%- endif %}
    <!--<link rel="canonical" href="https://www./" />     CHANGE THIS !!!  -->
    <meta http-equiv="Content-Type" content="text/html;  charset=utf-8"> 
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content= "index, follow">
<!-- SEO tag -->

<!-- Essential META Tags -->
    <meta property="og:title" content="JC PRATT" />
    <meta property="og:locale" content="{{ lang }}" />
{%- if description %}
    <meta property="og:description" content="{{ description }}" />
{%- endif %}
{%- if image %}
    <!--<meta property="og:image" content="https://www.{{ image }}">     CHANGE THIS !!!  -->
{%- endif %}
<!--<meta property="og:url" content="https://www./" />     CHANGE THIS !!!  -->
    <meta name="twitter:card" content="summary_large_image">


<!-- Recommended -->

    <meta property="og:site_name" content="JC PRATT" />
    <meta name="twitter:image:alt" content="Photographe professionnel auteur, membre de l'UPP disponible pour projets photographiques">


<!-- Required for Analytics 

<meta name="twitter:site" content="@website-username">

-->