<div id="modal_window" class="modal_window">
    <img id="modal_image" class="modal_image" src="">
    <div class="control_bar">
        <div class="button"><a target="_blank" rel="noopener noreferrer" href="" id="purchase_link"> BUY </a></div>
        <div id="previous" class="previous button "><span> &#171; </span></div>
        <span id="pagination" class="pagination"> 44/11 </span>
        <div id="next" class="next button "><span>  &#187; </span></div>
        <div id="close" class="close button "><span> X </span></div>
    </div>
    <img id="-1" src="" style="display:none">
</div>